.map-container {
	height: 700px
}

body {
	margin: 10;
	font-family: Arial, Helvetica, sans-serif;
}

.topnav {
	overflow: hidden;
}

.topnav a {
	float: left;
	color: #080808;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}

.topnav a:hover {
	color: black;
}

.topnav a.active {
	color: rgb(6, 6, 6);
}
.default-btn {
	margin-bottom: 1rem;
}
.footer {
  font-size: 11px;
  margin: 8px;
  color: #080808;
  text-align: right;
}
nav a {
  font-size: 14px;
  margin-right: 5px;
  color: #080808;;
}
